.background {
  z-index: 10;
  grid-area: 1 / 1 / 2 / 2;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background: rgb(45,27,133);
  background: linear-gradient(140deg, rgba(45,27,133,1) 0%, rgba(29,63,253,1) 50%, rgba(69,229,252,1) 100%);
}

.content {
  z-index: 100;
  grid-area: 1 / 1 / 2 / 2;
}